
 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title> MedFly {% block title %} PATIENT {% endblock %}</title>
    <link href="{{ asset('back-office/https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('back-office/css/styles.css') }}" rel="stylesheet" />
    <script src="back-office/https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-info">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="{{ asset('back-office/index.html') }}>Start Bootstrap</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="{{ asset('back-office/#!') }}"><i class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Chercher..." aria-label="Chercher..." aria-describedby="btnNavbarSearch" />
            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
        </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="{{ asset('back-office/#!') }}" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{{ asset('back-office/#!') }}">Settings</a></li>
                <li><a class="dropdown-item" href="{{ asset('back-office/#!') }}">Activity Log</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="{{ asset('back-office/#!') }}">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark " id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Core</div>
                    <a class="nav-link" href="{{ asset('back-office/index.html') }}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Gestion des Patients
                    </a>
                    <div class="sb-sidenav-menu-heading">Interface</div>
                    <a class="nav-link collapsed" href="{{ asset('back-office/#!') }}" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Gestion de Services
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="{{ asset('back-office/layout-static.html') }}">Static Navigation</a>
                            <a class="nav-link" href="{{ asset('back-office/layout-sidenav-light.html') }}">Light Sidenav</a>
                        </nav>
                    </div>
                    <a class="nav-link collapsed" href="{{ asset('back-office/#!') }}" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Gestion de vol et hébergement
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                            <a class="nav-link collapsed" href="{{ asset('back-office/#!') }}" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                Authentication
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{{ asset('back-office/login.html') }}">Login</a>
                                    <a class="nav-link" href="{{ asset('back-office/register.html') }}">Register</a>
                                    <a class="nav-link" href="{{ asset('back-office/password.html') }}">Forgot Password</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="{{ asset('back-office/#!') }}" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                                Error
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{{ asset('back-office/401.html') }}">401 Page</a>
                                    <a class="nav-link" href="{{ asset('back-office/404.html') }}">404 Page</a>
                                    <a class="nav-link" href="{{ asset('back-office/500.html') }}">500 Page</a>
                                </nav>
                            </div>
                        </nav>
                    </div>
                    <div class="sb-sidenav-menu-heading">Addons</div>
                    <a class="nav-link" href="{{ asset('back-office/charts.html') }}">
                        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                        Charts
                    </a>
                    <a class="nav-link" href="{{ asset('back-office/tables.html') }}">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Tables
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Se connecter:</div>
                Syrine Ahmed
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">ESPACE PATIENT</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">PATIENT</li>
                </ol>
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-primary text-white mb-4">
                            <div class="card-body">S'AUTHENTIFIER</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="{{ asset('back-office/#') }}">Plus de Détails</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>

                   <div class="col-xl-3 col-md-6">
    <a href="{{ path('add_usermedecin') }}" class="card bg-primary text-white mb-4">
        <div class="card-body">LES MEDECINS</div>
        <div class="card-footer d-flex align-items-center justify-content-between">
            <span class="small text-white stretched-link">Plus de Détails</span>
            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
        </div>
    </a>
</div>
                    </div>
                </div>
                
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Veuillez saisir vos coordonnées avec attention
                        <div class="container mt-5">
        <h2 class="mb-4">S'INSCRIRE </h2>

        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Nom</label>
            <div class="col-sm-10">
                {{ form_row(form.nom, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Prénom</label>
            <div class="col-sm-10">
                {{ form_row(form.prenom, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Date de Naissance</label>
            <div class="col-sm-10">
                {{ form_row(form.datenai, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Numéro d'Assurance</label>
            <div class="col-sm-10">
                {{ form_row(form.numassu, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Maladie</label>
            <div class="col-sm-10">
                {{ form_row(form.maladie, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                {{ form_row(form.emailp, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Mot de passe</label>
            <div class="col-sm-10">
                {{ form_row(form.password, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-10 offset-sm-2">
                {{ form_row(form.Enregistrer, {'attr': {'class': 'btn btn-primary'}}) }}
            </div>
        </div>

        {{ form_end(form) }}
    </div>
                    

        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; MedFly 2023</div>
                    <div>
                        <a href="{{ asset('back-office/#') }}">Privacy Policy</a>
                        &middot;
                        <a href="{{ asset('back-office/#') }}">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="back-office/https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="back-officejs/scripts.js"></script>
<script src="back-office/https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="back-office/assets/demo/chart-area-demo.js"></script>
<script src="back-office/assets/demo/chart-bar-demo.js"></script>
<script src="back-office/https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
<script src="back-office/js/datatables-simple-demo.js"></script>
</body>
</html>