{% extends 'TempHamza/back.html.twig' %}

{% block body %}
            <div class="container-fluid px-4">
                <h1 class="mt-4">GESTION DE MEDECIN</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">ADMIN</li>
                </ol>
                <div class="row">
                    
<div class="col-xl-3 col-md-6">
    <button class="btn btn-primary w-100 mb-4" onclick="window.location.href='{{ path('list_patients') }}'">
        <div class="card-body">Listes des Patients</div>
        <div class="card-footer d-flex align-items-center justify-content-between">
            <span class="small text-white">Plus de Détails</span>
            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
        </div>
    </button>
</div>

<div class="col-xl-3 col-md-6">
    <button class="btn btn-primary w-100 mb-4" onclick="window.location.href='{{ path('add_patient') }}'">
        <div class="card-body">Ajouter Patient</div>
        <div class="card-footer d-flex align-items-center justify-content-between">
            <span class="small text-white">Plus de Détails</span>
            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
        </div>
    </button>
</div>

<div class="col-xl-3 col-md-6">
    <button class="btn btn-danger w-100 mb-4" onclick="window.location.href='{{ path('list_medecins') }}'">
        <div class="card-body">Listes des Medecins</div>
        <div class="card-footer d-flex align-items-center justify-content-between">
            <span class="small text-white">Plus de Détails</span>
            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
        </div>
    </button>
</div>


<div class="col-xl-3 col-md-6">
    <button class="btn btn-danger w-100" onclick="window.location.href='{{ path('add_medecin') }}'">
        <div class="card-body">Ajouter Medecin</div>
        <div class="card-footer d-flex align-items-center justify-content-between">
            <span class="small text-white">Explore More</span>
            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
        </div>
    </button>
</div>
        <h2 class="mb-4">Create a new patient</h2>

        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Nom</label>
            <div class="col-sm-10">
                {{ form_row(form.nom, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Prénom</label>
            <div class="col-sm-10">
                {{ form_row(form.prenom, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Date de Naissance</label>
            <div class="col-sm-10">
                {{ form_row(form.datenai, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Numéro d'Assurance</label>
            <div class="col-sm-10">
                {{ form_row(form.numassu, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Maladie</label>
            <div class="col-sm-10">
                {{ form_row(form.maladie, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                {{ form_row(form.emailp, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Mot de passe</label>
            <div class="col-sm-10">
                {{ form_row(form.password, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-10 offset-sm-2">
                {{ form_row(form.Enregistrer, {'attr': {'class': 'btn btn-primary'}}) }}
            </div>
        </div>

        {{ form_end(form) }}
    </div>
                    
{% endblock %}
       