{% extends 'YassineTemp/back.html.twig' %}

{% block title %}Gestion Des Hotels {% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Gestion Des Hotels  </h1>
        <div class="row mb-4">
        <div class="col-md-6">
            {{ form_start(searchForm) }}
            <div class="input-group">
                {{ form_widget(searchForm.search, {'attr': {'class': 'form-control', 'placeholder': 'Rechercher par nom d\'hôtel'}}) }}
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Rechercher</button>
                </div>
            </div>
            {{ form_end(searchForm) }}
        </div>
    </div>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">NomHotel</th>
                    <th scope="col">NbEtoile</th>
                    <th scope="col">Pays</th>
                    <th scope="col">NbChambre</th>
                    <th scope="col">PrixNuit</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for hotel in hotels %}
                    <tr>
                        <td>{{ hotel.nomHotel }}</td>
                        <td>{{ hotel.nbEtoile }}</td>
                        <td>{{ hotel.pays }}</td>
                        <td>{{ hotel.nbChambre }}</td>
                        <td>{{ hotel.prixNuit }}</td>
                        <td>
                            <a href="{{ path('app_hotels_edit', {'idHotel': hotel.idHotel}) }}" class="btn btn-warning btn-sm">Edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6" class="no-records">No records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_hotels_new') }}" class="btn btn-primary">Create New</a>
    </div>
{% endblock %}
